@tailwind base;
@tailwind components;
@tailwind utilities;

tbody tr:hover {
  @apply bg-gray-100;
  @apply dark:bg-secbgDark800;
}
tbody tr {
  @apply dark:bg-thirdbgDark700;
}
body {
  font-family: "Cairo", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 786px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
